  *{font-family: "微软雅黑";}
            body,html,a,h1,h2,h3,h4,h5,h6,span{font-family: "微软雅黑" !important;}
             
.category-title{ /*background-color: #222; */color: #fff; font-size: 16px; margin:0px 0px; padding:10px; height:50px;}
.sider-bar{ padding-left: 0px; min-height: 542px;}
/*.siderbar{margin-top:10px; margin-bottom: 20px;float: left; padding:0px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ccc,endColorStr=#fff); IE 6 7 8 

background: -ms-linear-gradient(top, #ccc,  #fff);         IE 10 

background:-moz-linear-gradient(top,#ccc,#fff);火狐 

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ccc), to(#fff));谷歌 

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));       Safari 4-5, Chrome 1-9

background: -webkit-linear-gradient(top, #ccc, #fff);   Safari5.1 Chrome 10+

background: -o-linear-gradient(top, #ccc, #fff);  Opera 11.10+


}*/
.container{ width: 1080px !important}

.container-fluid { min-width: 1080px !important}
a:hover{
    text-decoration: none;
}
    ul{ list-style: none;}
 
    .product-nav{
        margin-top:5px;
        width: 100%;
        list-style: none;
        padding:0px;
        /*border: 1px #28b779 solid;*/
    }

    .product-nav li{
        padding:0px;
        /*border-bottom: 1px #cdcdcd solid;*/
        /*margin-top:3px;*/

    }

    .product-nav li a{

        display: block;
        width: 100%;
        height:44px;

        line-height: 55px;
        padding-left: 40px;
        cursor:  pointer;
        color:#222;
        font-size:14px;
    }
    .product-nav li.sub-nav a{  padding-left: 60px;}
    .product-nav li.sub-nav a:hover{ background-image: url('/Theme/default/img/nav_bg.png'); color:#fff; }
    /*.product-nav li.sub-nav{ padding-left:10px;}*/
    /*.product-nav li.sub-nav a:hover{background-color: #bababa; background-image: url(''); color:#fff; }*/
    .product-nav_active{ background-image: url('/Theme/default/img/nav_bg.png'); color:#fff; }
    .sub-product-nav{ padding: 0px;}
    .sub-product-nav li{}
    .sub-product-nav li a{ padding-left: 30px;}
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
        border: 1px #eee solid;
        border-top:0px;
        margin-bottom: 10px;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        border:1px #eee solid;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    
    .pagination > .active > a{ background-color: #5ba331;}
     .pagination > .active > a:hover{ background-color: #5ba331;}
    /*.pagination > li > a:hover{ background-color: #5ba331;}*/
    
    /*
    product 
    */
    .product-list{ width: 800px; }
    .product-item{   padding: 0px;}
    .product-item a{color:#222}
    .product-item a:hover{color:#5ba331}
    /*  news */
    .article-category{}
        .article-category a{ padding:10px 20px; background-color: #5ba331; width: 120px; float:  right;  margin:0px 3px; text-align: center;color: #fff; display: block;}
    .article-category a:hover{ background-color: #298001;}
    .article-list{ width: 800px}
    .article-list-item{ border:1px #eee solid; margin-top: 10px; width: 380px; height:200px;}
    .article-list-item:hover{background-color: #fff; border: 1px #000 solid; cursor: pointer; }
    .article-list-item div img{ padding:5px 0px;}
    .article-list-item div h4 a{ color: #000; font-size: 14px; font-weight: bold;}
    
    
    
    
    /*inde */
       
    .banner-content{ padding-left:0px; padding-right: 0px; margin: 0px; }
    .banner-content .swiper-container .swiper-wrapper .swiper-slide{  height: 365px; text-align: center; }

    .about{ padding: 40px 0px;;}
    .about .about-img{ text-align: center;} 
    .about .about-content{ font-family: "微软雅黑"; font-size: 16px;line-height: 35px;text-align: left;}

    .product-content{ background-color: #eee;}
    .news-content{ background-color: #eee;}

    .product-banner {
        width: 100%;
/*        height: 290px;  */
    }
       .banner{ height:380px;}
    .product-slide {
        height: 200px;
        text-align: center;
        font-size: 18px;  

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .index-swiper-tou-zi{width: 100%; 
                         height: 40px; padding-left: 20px; line-height: 40px; font-size: 12px; font-weight: normal; color: #203030;}


    .news-list{}
    .news-movie{text-align: right}
    .news-item {padding:10px 0px;}
    .news-item .news-title{}
    .news-list .news-title a{color:#000}
    .news-list .news-title a:hover{ color:#5ba331}

    
    .form-contact{color:#222; display: block;padding: 0px; text-align: center; margin:0px; width: 100%; padding: 10px 0px 10px 0px; margin-left: 5px;line-height: 30px;}
    .form-contact:hover{ color:#5ba331;}